* {
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
}
button {
  border: 0;
  outline: 0;
  background-color: white;
}
input {
  outline: none;
  padding-left: 10px;
  background-color: transparent;
}
.hidden {
  display: none;
}
.fix {
  margin: 0 auto;
}
.inline-block {
  display: inline-block;
}
#wrapper {
  display: flex;
  min-height: 100vh;
}
#container {
  width: 1200px;
  min-height: 780px;
  border: 4px solid #444444;
  border-radius: 30px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  padding: 40px;
  padding-bottom: 30px;
}
#grid-right {
  padding-left: 20px;
  width: 667.208px;
}
#title-box {
  height: 105px;
}
#title {
  margin: 0;
  height: 100px;
  line-height: 1.5;
  font-size: 45px;
  position: relative;
}
#title-decoration {
  position: relative;
  width: 210px;
  height: 130px;
  top: -146px;
  z-index: -1;
  right: 12px;
}
#name {
  padding-bottom: 15px;
}
#name input {
  width: 360px;
  height: 40px;
  border: 2px solid rgba(153, 153, 153, 0.7);
  border-radius: 10px;
  font-size: 20px;
  margin-bottom: 5px;
  background-color: transparent;     /* 이것을 button과 input에 적용해 주면 그 안의 색이 투명하게 되면서 body의 배경색이 그대로 들어가게 된다. width와 height를 0으로 하는 방법은 input에서는 불가하고 색이 진하게 나타나므로 좋지 않다. */
}
#name-check {
  font-size: 23px;
  cursor: pointer;
  background-color: transparent;    
}
#name-check:hover {
  animation: rotation 0.7s;
} 
@keyframes rotation{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.greeting {
  margin-top: 0;
  margin-bottom: 5.333px;
  text-shadow: #FC0 1px 0 10px;
  position: relative;
  top: -10px;
  font-size: 40px;
}
#write-todo {
  padding-bottom: 15px;
  position: relative;
  top: 12px;
  width: 408px;
}
#write-todo input{
  width: 360px;
  height: 40px;
  border: 2px solid rgba(153, 153, 153, 0.7);
  border-radius: 10px;
  font-size: 20px;
}
#todo-check {
  font-size: 23px;
  cursor: pointer;
  background-color: transparent;
}
#todo-check:hover {
  animation: rotation 0.7s;
}
@keyframes rotation{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
#bubble {      /* 말풍선 몸통 */
  box-sizing: border-box;
  position: absolute;
  width: 307px;
  left: 0px;
  top: 55px;
  background: #484848;
  color: white;
  border-radius: 5px;
  padding: 12px 12.8px;
  z-index: 100;
}
#bubble:after {     /* 말풍선 화살표 */
  border-bottom: 10px solid #484848;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 0px solid transparent;
  content: "";
  position: absolute;
  bottom: 129px;
  left: 60px;
}
#search {
  width: 412px;
}
#search input {
  width: 360px;
  height: 40px;
  margin-top: 20px;
  border: none;
  border-bottom: 2px solid rgba(153, 153, 153, 0.7);
  font-size: 20px;
  position: relative;
}
#search-btn {
  background-color: transparent;
}
.search-btn-img {
  width: 35px;
  height: 35px;
  position: relative;
  top: 11px;
  cursor: pointer;
}
.search-btn-img:hover {
  animation: rotation 0.7s;
}
@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(359deg);
  }
}
#weather {
  height: 172px;     /* 날씨 정보를 가져올 수 없을 때에도 공간을 남겨 두기 위해 height를 지정해 줌. */
}
#weather h1 {
  position: relative;
  margin: 0;
  margin-top: 40px;
}
.weather-icon {
  width: 100px;
  height: 100px;
}
#weather h2 {
  position: relative;
  bottom: 75px;
  left: 140px;
}
#daily-check {
  margin-top: -50px;
  position: relative;
  top: 5px;
}
#daily-todo {
  padding: 0;
  list-style: none;
  margin: 0;
  position: relative;
  bottom: 5px;
}
p {
  margin: 0;
  padding: 5px 20px 5px 5px;
  font-size: 20px;
  position: relative;
  bottom: 10px;
}
p:hover {
  color: #e66666;
}
#daily-todo img {
  width: 35px;
}
p, #daily-todo img {
  cursor: pointer;
}
.daily-complete {     /* 주목! (JS에서 이용할 것)*/
  color: #e66666;
  text-decoration: line-through;
  text-decoration-color: #e66666;
}
#supplement {
  height: 50px;
  position: relative;
  bottom: -20px;
}
#social {
  padding: 0;
  list-style: none;
  margin: 0;
}
#social li {
  display: inline-block;
  padding-right: 20px;
}
.social-logo {
  width: 40px;
  height: 40px;
  transition-duration: 0.7s;
  cursor: pointer
}
.social-logo:hover {
  width: 45px;
  height: 45px;
  transition-duration: 0.7s;
}
#time {
  height: 73px;
  background-color: aliceblue;
  border-radius: 15px;
  margin: 0;
  padding: 10px 55px;
}
#clock {
  font-size: 45px;
  margin: 0;
  position: relative;
}
#calendar {
  font-size: 30px;
  margin: 0;
  position: relative;
  bottom: 42px;
  left: 320px;
}
#show-todo {
  position: relative;
  top: 15px;
  background-color: aliceblue;
  height: 617px;
  border-radius: 15px;
}
#todo-table {
  border-collapse: collapse;
  width: 95%;
  position: relative;
  left: 16px;
  top: 15px;
}
#todo-table {
  border-top: 2.5px solid black;
  border-bottom: 2.5px solid black;
}
th, td {
  text-align: center;
  height: 45px;
  font-size: 23px;
  border-radius: 7px;
  border-bottom: 2.5px dotted black;
}
.tag {
  width: 60px;
}
.tag, .todo, .button:first-child {
  border-right: 2.5px double black;
}
table button {
  font-size: 23px;
  cursor: pointer;
  font-size: 23px;
  cursor: pointer;
  height: 100%;
  background-color: transparent;
}
.button {
  width: 45px;
  padding: 0;     /* todo 에서 button 부분의 padding을 없애야지 애매한 부분을 클릭해도 버튼 클릭 처리가 되므로 이상한 현상이 일어나지 않는다. */
}
.todo-complete img {
  width: 25px;
  height: 25px;
  position: relative;
  top: 4px;
}
.completed {
  color: grey;
  text-decoration: line-through;
}
#no-plan {
  text-align: center;
  position: relative;
  top: 35%;
}
#no-plan img {
  width: 80px;
  height: 80px;
}
#quote {
  position: relative;
  top: 15px;
}